<% provide(:title, 'Free Chat') %>

<h1 class="text-center">Free Chat App</h1>
<div class="container" id = "messages">
  
 	<%= render partial: "message", collection: @messages, as: :message %>
</div>
<div class="messaging center-block">
    <div class="row">
      <div class="col-md-12">
        <form class="input-group">

          <input type="text" class="form-control" name="data">
          <span class="input-group-btn">
            <input class="btn btn-default" type="submit"  >Send</input>
          </span>

        </form>
      </div>
    </div>
  </div>